.container {
  background: #003049;
  padding: 0rem 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  color: #fff;
}

.type-row {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  color: #eae2b7;
}

.info-section {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  background: #eae2b7;
  margin: 1rem 0;
  border-radius: 0.25rem;
}

.info {
  margin: 1rem 1rem;
  color: #000;
}

.button {
  margin: 2rem 0;
  height: 2rem;
  font-size: 20px;
  font-weight: bold;
}
